/app/config/parameters.yml
/app/var/
/app/!/var/cache
/app/var/cache/*
/app/!var/cache/.gitkeep
/app/!/var/logs
/app/var/logs/*
/app/!var/logs/.gitkeep
/app/!/var/sessions
/app/var/sessions/*
/app/!var/sessions/.gitkeep
/!var/SymfonyRequirements.php
/vendor/
vendor/
.idea
/app/composer.lock
/app/.composer/
/app/doc/raml/node_modules
/app/web/bundles
/logs
app/.ssh/
app/composer.lock
.idea/*
solr/acquired/data
solr/acquired/conf/dataimport.properties
solr/study/data
solr/study/conf/dataimport.properties
solr/experience/data
solr/experience/conf/dataimport.properties
solr/ex
solr/applicant/data
solr/applicant/conf/dataimport.properties
solr/application/data
solr/application/conf/dataimport.properties
docker/solr/data/*
!docker/solr/data/.gitini
app/export/*.xml